<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #signupForm="ngForm" (submit)="onSignup(signupForm)" *ngIf="!isLoading">
    <mat-form-field>
      <label for="email"></label>
      <input
        #emailInput="ngModel"
        email
        id="email"
        matInput
        name="email"
        ngModel
        placeholder="E-Mail"
        required
        type="email"
      >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label for="password"></label>
      <input
        #passwordInput="ngModel"
        autocomplete="on"
        id="password"
        matInput
        name="password"
        ngModel
        placeholder="Password"
        required
        type="password"
      >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      *ngIf="!isLoading"
      color="accent"
      mat-raised-button
      type="submit">Signup
    </button>
  </form>
</mat-card>
