<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <label for="title"></label>
      <input
        id="title"
        name="title"
        type="text"
        matInput
        ngModel
        required
        minlength="3"
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label for="content"></label>
      <textarea id="content"
                name="content"
                matInput
                rows="6"
                ngModel
                required
                placeholder="Post Content"
                #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
